@use 'fonts' as *;
@use 'var' as *;
@use 'mixins' as *;
@use 'utilities' as *;
@use 'components' as *;

html {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-feature-settings:
    'tnum' on,
    'lnum' on;
  -webkit-font-smoothing: subpixel-antialiased;
}

body,
#app {
  font-size: 16px;
  color: var(--text-color-base);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  padding: 0 40px;

  @include desktop() {
    padding: 0 40px;
  }

  @include tablet() {
    padding: 0 72px;
  }

  @include large-mobile() {
    padding: 0 28px;
  }

  @include mobile() {
    padding: 0 20px;
  }
}
